<!-- ==================================
 *            e j D i c t o             *
 * ==================================== *
 * (c)2012-2020 - Patrick Cardona       *
 * Licence GPL version 3 ou ultérieure  *
 * VOIR la licence complète à la racine *
 * ==================================== -->

 <!-- Navigation : Menu : menuListe.hbs -->

<div class="w3-top w3-hide-small">
  <div class="w3-bar w3-light-grey w3-text-teal">

  <a href="#!" class="w3-bar-item w3-button w3-teal">
    <i class="material-icons">home</i> ejDicto
  </a>

  <button onclick="$('#panneau_recherche').toggle()" 
  class="w3-bar-item w3-button w3-right">
  <i class="material-icons">search</i>
  </button>
  </div>
</div>


<!-- ooooooooooooooooooooooooooooooooooooo -->

<!-- Version mobile : on fonce la barre, suffisant pour ce menu. -->

<div class="w3-top w3-hide-medium w3-hide-large">
  <div class="w3-bar w3-dark-grey">

  <a href="#!" class="w3-bar-item w3-button w3-teal">
    <i class="material-icons">home</i> jDicto
  </a>

  <button onclick="$('#panneau_recherche').toggle()" 
  class="w3-bar-item w3-button w3-dark-grey w3-right">
  <i class="material-icons">search</i>
  </button>
  </div>
</div>
