<!-- ==================================
 *            e j D i c t o             *
 * ==================================== *
 * (c)2012-2020 - Patrick Cardona       *
 * Licence GPL version 3 ou ultérieure  *
 * VOIR la licence complète à la racine *
 * ==================================== -->
 
 <!-- Template : aideTemplate.hbs -->


<header>
<h3 class="texte-fonce">Précaution avant un usage mobile</h3>
</header>
	<ul class="w3-ul">

  <ol>
  <li>Avant de pouvoir écouter une dictée en usage mobile,
  prenez la précaution de vous connecter en activant
  le Wifi.</li>
  <li>Écoutez la dictée une fois.</li>
  <li>Désactivez le Wifi.</li>
  </ol>
  </ul>
  <p>Vous êtes maintenant en mesure de l'écouter hors connexion.</p>