<!-- ==================================
 *            e j D i c t o             *
 * ==================================== *
 * (c)2012-2020 - Patrick Cardona       *
 * Licence GPL version 3 ou ultérieure  *
 * VOIR la licence complète à la racine *
 * ==================================== -->
 
 <!-- Template : aideDictam.hbs -->

<header>
<h3 class="texte-fonce">Pour accéder aux versions aménagées des dictées</h3>
</header>
 <ul class="w3-ul">
    <li>Affichez la page d'accueil de l'application&nbsp;: 
    <span class="texte-lien"><i class="icon-home"></i></span></li>
    <li>Sélectionnez le menu <span class="texte-lien">
    « <i class="icon-profil"> Profil </i>»</span>.</li>
    <li>Dans la page du profil courant, cliquez sur le bouton 
    <span class="texte-lien">[modifier]</span>.</li>
    <li>Dans les options du profil, sélectionnez votre niveau de classe (liste déroulante).</li>
    <li>Cochez l'option <span class="texte-lien">« dictée aménagée »</span>.
    <li>Cliquez sur le menu <span class="texte-lien">« <i class="icon-liste"> 
    liste des dictées </i>»</span>.</li>
</ul>
  <p>
  Désormais, vous disposez de la liste des dictées aménagées disponibles.
  </p>