<!-- ==================================
 *            e j D i c t o             *
 * ==================================== *
 * (c)2012-2020 - Patrick Cardona       *
 * Licence GPL version 3 ou ultérieure  *
 * VOIR la licence complète à la racine *
 * ==================================== -->
 
 <!-- Template : aidePriseEnMain.hbs -->


	<h3 class="texte-fonce">Boutons de la saisie</h3>
<div class="w3-container w3-padding">
	<table class="w3-table w3-bordered">
	<tr>
	<th>Bouton</th><th>Action</th>
	</tr>
    <tr>
    <td><span class="analogue w3-padding">
    <i class="icon-editer"></i></span></td>
    <td>Mode édition</td>
    </tr>
    <tr>
    <td><span class="analogue w3-padding">
    <i class="icon-assistant"></i></span></td>
    <td>Mode assistant de la dictée aménagée&nbsp;: des choix vous sont proposés.</td>
    </tr>
    <td><span class="analogue w3-padding">
    <i class="icon-omega"></i></span></td>
    <td>Affiche ou masque la barre des caractères spéciaux.</td>
    </tr>
    <tr>
    <td><span class="analogue w3-padding">
    <i class="icon-corbeille"></i></span>
    </td>
    <td>Affiche le texte initial (réécriture) ou efface toute la saisie (dictée).</td>
    </tr>
    <td><span class="analogue w3-padding">
    <i class="icon-verifier"></i></span>
    </td>
    <td>Soumet le texte saisi au correcteur <sup>(1)</sup>.</td>
    </tr>
    <tr>
    <td><span class="analogue w3-padding">
    <i class="icon-finir"></i></span>
    </td>
    <td>Termine l'exercice et affiche la correction finale.</td>
	</table>
	
<p><sup>(1)</sup> Si le correcteur détecte des erreurs, il affiche un message 
invitant à améliorer la saisie du texte.</p>
</div>