<!-- ==================================
 *            e j D i c t o             *
 * ==================================== *
 * (c)2012-2020 - Patrick Cardona       *
 * Licence GPL version 3 ou ultérieure  *
 * VOIR la licence complète à la racine *
 * ==================================== -->
 
<!-- Handlebars Partial : barreCaracteresTemplate.hbs -->

<!-- Affichage d'un bouton carctère spécial -->

    <button onclick="carspec.inserer('{{car}}','ma_saisie')" class="w3-bar-item w3-button w3-border">{{car}}</button>
