<!-- ==================================
 *            e j D i c t o             *
 * ==================================== *
 * (c)2012-2020 - Patrick Cardona       *
 * Licence GPL version 3 ou ultérieure  *
 * VOIR la licence complète à la racine *
 * ==================================== -->
 
 <!-- accueilTemplate.hbs -->

 <div class="w3-container" id="page_accueil">
 <div class="w3-display-container">
	 <img src="./static/images/encrier.jpg" class="w3-opacity-max">
	 <h1 class="w3-wide w3-display-middle">{{ bienvenue }}</h1>
 </div>
 </div>

