<!-- ==================================
 *            e j D i c t o             *
 * ==================================== *
 * (c)2012-2020 - Patrick Cardona       *
 * Licence GPL version 3 ou ultérieure  *
 * VOIR la licence complète à la racine *
 * ==================================== -->
 
 <!-- Template : aideTemplate.hbs -->


<div class="w3-container w3-padding-32">

	<h3 class="w3-text-teal">Aide</h3>

<div class="w3-container w3-padding">
	<ul class="w3-ul">
		<li class="w3-green">
			<h3>Sommaire</h3>
        <li><a href="#!boutons/{{did}}" data-navigo class="w3-button w3-text-green">Boutons de la version mobile</a>
		</li>
		<li><a href="#!conseils/{{did}}" data-navigo class="w3-button w3-text-green">Améliorer ma saisie
		</li>
	</ul>
	
  <p>
	<a class="w3-button w3-green" " href="#!saisir/{{did}}"><i class="icon-gauche"></i> Reprendre ma saisie</a>
  </p>
</div>
