<!-- ==================================
 *            e j D i c t o             *
 * ==================================== *
 * (c)2012-2020 - Patrick Cardona       *
 * Licence GPL version 3 ou ultérieure  *
 * VOIR la licence complète à la racine *
 * ==================================== -->
 
 <!-- Template : aideTemplate.hbs -->


<div class="w3-container w3-padding-32">

	<h3 class="w3-text-teal">Boutons en version mobile</h3>

<div class="w3-container w3-padding">
	<ul class="w3-ul">
    <li><span class="w3-green w3-padding"><i class="material-icons">add</i></span> 
    affiche la barre des caractères spéciaux.</li>
    <li><span class="w3-orange w3-padding"><i class="material-icons">delete_forever</i></span> 
    remet le texte initial.</li>
    <li><span class="w3-green w3-padding"><i class="material-icons">announcement</i></span> 
    soumet la réécriture au correcteur <sup>(1)</sup></li>
    <li><span class="w3-red w3-padding"><i class="material-icons">assignment_turned_in</i></span> 
    termine la réécriture et affiche la correction finale</li>
	</ul>
<p><sup>(1)</sup> Si le correcteur détecte des erreurs, il affiche un message 
invitant à améliorer la réécriture saisie.</p>
  <p>
	<a class="w3-button w3-green" " href="#!saisirr/{{did}}">
	<i class="material-icons">arrow_back_ios</i> Reprendre ma saisie</a>
  </p>
</div>
