<!-- ==================================
 *            e j D i c t o             *
 * ==================================== *
 * (c)2012-2020 - Patrick Cardona       *
 * Licence GPL version 3 ou ultérieure  *
 * VOIR la licence complète à la racine *
 * ==================================== -->
 
 <!-- Template : conseilsTemplate.hbs -->


<div class="w3-container w3-padding-32">

	<h3 class="w3-text-teal">Comment améliorer mon texte ?</h3>

<div class="w3-container w3-padding">
	<ul class="w3-ul">
		<li class="w3-green">
			<h3>Je vérifie...</h3>
        <li>Les homophones : <b>a</b> ou <b>à</b> ? <b>et</b> ou <b>est</b> ? etc.
		</li>
		<li>Les accords au sein du groupe nominal.
		</li>
		<li>
			Les accords du verbe avec son sujet :
			 attention au sujet parfois inversé ou composé de plusieurs noms&nbsp;.
			 Attention à la présence de pronoms sournois, placés entre le sujet et le verbe.
		</li>
		<li>
			Je fais attention aux accords plus subtils : mots éloignés ou détachés, participe passé...
		</li>
	</ul>
	
  <p>
	<a class="w3-button w3-green" " href="#!saisirr/{{did}}">
	<i class="material-icons">arrow_back_ios</i> Reprendre ma saisie</a>
  </p>
    </div>
