<!-- ==================================
 *            e j D i c t o             *
 * ==================================== *
 * (c)2012-2020 - Patrick Cardona       *
 * Licence GPL version 3 ou ultérieure  *
 * VOIR la licence complète à la racine *
 * ==================================== -->
 
 <!-- Template : consigneReecritureTemplate.hbs -->


<div class="w3-container">

	<h3 class="w3-text-teal w3-padding-32">Consigne de la réécriture {{did}}</h3>

  <p>{{consigne}}</p>

  <div class="w3-card-4">
    <div class="container w3-green w3-padding">
      <h3>Texte initial</h3>
    </div>
    <div class="container w3-padding">
      <p>{{texte}}</p>
    </div>
  </div>
  <p>
	Passez maintenant à la <a class="w3-button w3-text-green" 
	style="text-decoration: none" href="#!saisirr/{{did}}">
	saisie</a> de cette réécriture...
  </p>
</div>
