<!-- ==================================
 *            e j D i c t o             *
 * ==================================== *
 * (c)2012-2020 - Patrick Cardona       *
 * Licence GPL version 3 ou ultérieure  *
 * VOIR la licence complète à la racine *
 * ==================================== -->

<!-- Template : licence : page 1 
  licence1Template.hbs
-->

<div class="w3-container">
	<h3 class="w3-text-teal">Licence</h3>

 <!-- Pagination -->
 <div class="w3-center">
	 <div class="w3-bar w3-border w3-round">
		 <a href="#!licence/1" class="w3-bar-item w3-button w3-teal">1</a>
   		 <a href="#!licence/2" class="w3-bar-item w3-button">2</a>
  	</div>
 </div>

 <!-- Page 1 -->
  <div style="max-width: 400px">
    <p style="text-align: justify">
Copyright &copy; {{ debut }}-{{ fin }} Patrick CARDONA<br /><br />
      Le code JavaScript de cette page est un logiciel libre : vous 
      pouvez le redistribuer et/ou le modifier selon les termes de la 
      licence GNU General Public License (GNU GPL) telle que publiée 
      par la Free  Software Foundation, en version 3 de la licence, ou 
      (à votre discrétion) toute version ultérieure. Le code est distribué 
      SANS AUCUNE GARANTIE ; sans même la garantie implicite de 
      MARCHANDABILITÉ ou d'ADÉQUATION À UN BUT PARTICULIER. Consultez 
la GNU GPL pour plus de détails.</p>
  </div>

</div>

