<!-- ==================================
 *            e j D i c t o             *
 * ==================================== *
 * (c)2012-2020 - Patrick Cardona       *
 * Licence GPL version 3 ou ultérieure  *
 * VOIR la licence complète à la racine *
 * ==================================== -->

<!-- Template : licence page 2 
  licence2Template.hbs
-->


<div class="w3-container">
	<h3 class="w3-text-teal">Licence</h3>

 <!-- Pagination -->
 <div class="w3-center">
	 <div class="w3-bar w3-border w3-round">
		 <a href="#!licence/1" class="w3-bar-item w3-button">1</a>
   		 <a href="#!licence/2" class="w3-bar-item w3-button w3-teal">2</a>
  	</div>
 </div>

 <div style="max-width: 400px">
    <p style="text-align: justify">
      En tant que permission supplémentaire selon les termes de la GNU 
      GPL version 3 section 7, vous pouvez distribuer des formes 
      « non-source » (par ex., minimisées ou compactées) de ce code
      sans la copie de la GNU GPL normalement requise section 4, à 
      condition d'inclure cette notice de licence et une URL par laquelle 
      les destinataires peuvent accéder au code source correspondant.
      <br /><br />
      Consultez la licence GNU GPL pour plus de détails:
      <br /><a href="http://www.gnu.org/licenses/" target="_blank">
      http://www.gnu.org/licenses/</a>
      </p>
 </div>

</div>
