<!-- ==================================
 *            e j D i c t o             *
 * ==================================== *
 * (c)2012-2020 - Patrick Cardona       *
 * Licence GPL version 3 ou ultérieure  *
 * VOIR la licence complète à la racine *
 * ==================================== -->

<!-- Template : mentions légales
  mentionsTemplate.hbs
 -->

   <div class="w3-container w3-padding-48">
		<div class="w3-card">
			   <header class="w3-green w3-padding"><h3>Mentions légales</h3></header>
			   <div class="w3-container">
			   		 <h3>{{ titre }}</h3>
				      <p><span class="w3-text-green">Référence :</span>
				       <span class="auteur">{{ auteur }}</span>,
                        <span class="ouvrage"><em>{{ ouvrage }}</em></span>
	 			      </p>
  	 			      <p><span class="w3-text-green">Dictée proposée par </span>{{ prof }}</p>
			  </div>
		</div>
   </div>
