<!-- ==================================
 *            e j D i c t o             *
 * ==================================== *
 * (c)2012-2020 - Patrick Cardona       *
 * Licence GPL version 3 ou ultérieure  *
 * VOIR la licence complète à la racine *
 * ==================================== -->

<!-- Template de message popup (fenêtre modale) 
  à afficher dans saisirTemplate.hbs :
  popupTemplate
-->

    <h3 class="w3-text-green">{{titre}}</h3>

    <p>{{message}}</p>


