<!-- ==================================
 *            e j D i c t o             *
 * ==================================== *
 * (c)2012-2020 - Patrick Cardona       *
 * Licence GPL version 3 ou ultérieure  *
 * VOIR la licence complète à la racine *
 * ==================================== -->

<!-- Template : reecritureTemplate -->

<div class="w3-container w3-padding-32">

  <h3 class="w3-text-teal">Réécriture {{did}}</h3>

  <div class="w3-container">

	<ul class="w3-ul">
		<li class="w3-green">
			<h3>Mode d'emploi</h3>
		</li>	
		<li><span class="w3-badge w3-green">1</span> D'abord, lisez la consigne.
		</li>
		<li>
			<span class="w3-badge w3-green">2</span> Saisissez ensuite 
			le texte transformé. Tentez d'améliorer cette saisie.
		</li>
		<li>
			<span class="w3-badge w3-green">3</span> Quand vous aurez effectué 
			toutes les corrections possibles, terminez la saisie pour 
			voir la correction.
		</li>
	</ul>

  <p>
	Passez maintenant à la découverte de la 
	<a class="w3-button w3-text-teal" style="text-decoration: none" 
	href="#!consigne/{{did}}">consigne</a> de la réécriture.
  </p>

  </div>

</div>