<!-- ==================================
 *            e j D i c t o             *
 * ==================================== *
 * (c)2012-2020 - Patrick Cardona       *
 * Licence GPL version 3 ou ultérieure  *
 * VOIR la licence complète à la racine *
 * ==================================== -->
 
 <!-- Template de saisie, correction et affichage de la correction 
    saisirTemplate.hbs
 -->

<div id="zone_saisie" class="w3-container" style="display: block">

	<h3 class="w3-text-teal">Saisie de la dictée {{did}}</h3>

<!-- Zone de notification modale -->

<div id="notification" class="w3-modal">
  <div class="w3-modal-content">
    <div class="w3-container">
      <span onclick="document.getElementById('notification').style.display='none'"
      class="w3-button w3-display-topright"><i class="material-icons">close</i></span>
      <h4 id="titre_notification">Notification</h4>
      <p id="message_notification">Mon message...</p>
    </div>
  </div>
</div>

	<!-- zone de boutons : actions sur la saisie -->
	<div class="w3-container w3-padding">
		<nav class="w3-row">
			<button class="w3-button w3-orange" onclick="dictee.recommencerSaisie()">Effacer</button>
			<button class="w3-button w3-green" onclick="dictee.corriger()">Corriger</button>
			<button class="w3-button w3-red" onclick="dictee.terminer()">Terminer</a>
		</nav>
	</div> <!-- fin zone de boutons -->

	<!-- Barre de caractères spéciaux et zone de saisie -->
	<div class="w3-container"> 
		<div id="conteneur_barre" class="w3-bar">
		    <button onclick="$('#barre_car_spec').toggle()" class="w3-bar-item w3-button w3-green w3-border">
			<i class="material-icons">add</i>
		    </button>
		    <span id="barre_car_spec" style="display: block">
			{{#each caracteres}}
			    {{>barre this}}
			{{/each}}
		    </span>
		</div>
	</div>

	<!-- Zone de saisie du texte de la dictée -->
	<textarea id="ma_saisie" spellcheck="false" class="w3-block w3-sand" rows="15" 
	style="max-width: 600px"
	placeholder="Saisissez ici le texte de votre dictée notée au brouillon..." 
	onblur="sessionStorage.setItem('dictee', this.value)">{{saisie}}</textarea>

</div>  <!-- Fin de la zone de saisie -->

	<!-- ============================================== -->

<div id="zone_correction" class="w3-container" style="display: none">
<div class="w3-display-container">
  <a href="#!" class="w3-button w3-display-topright "><i class="material-icons">close</i></a>
</div>
 <h3 class="w3-text-teal">Correction</h3>

 <p id="corrige" class="correction"></p>

</div> <!-- Fin div zone_correction -->

<!-- ================================================== -->

<!-- BLOC MASQUE: MAIS NECESSAIRE POUR LA CORRECTION
    Son contenu est utilisé par la méthode corriger() de l'objet Dictee -->

<div id="texte" style="visibility: hidden">{{texte}}</div>

